extends layout

block content
  a(href="/product/list") View Product List
  form(action="/product/update-data" method="post")
    fieldset
      legend Update Product
      div
        label(for="") Product Name
        input(type="text", name="productName" placeholder="Enter Details" value=update_pro.pl_name required)
      div
        label(for="") Brand Name
        input(type="text" name="brandName" placeholder="Enter Details" value=update_pro.pl_brand  required)
      div
        label(for="") Product Price
        input(type="number", name="productPrice" placeholder="Enter Details" value=update_pro.pl_price required)
        input(type="hidden" value=update_pro.id name="productId")
      div
        button Update Details